{% extends "base.html" %}
{% block title %}{{ header }}{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block content %}
<div class="container">
  Ваши хосты
  {% if user.is_authenticated %}
  <table class="table">
      <thead>
          <tr>
            <th scope="col">IP адрес</th>
            <th scope="col">Порт</th>
            <th scope="col">Ресурс</th>
            <th scope="col">Последнее редактирование</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for host in hosts %}
            <td>{{ host.ip_adress }}</td>
            <td>{{ host.port }}</td>
            <td>{{ host.resource }}</td>
            <td>{{ host.date_edit }}</td>
            <td><a href="{% url 'edit_host' host.id%}">Редактировать хост</a></td>
          </tr>
          {% endfor %}
        </tbody>
        
    </table>
    {% else %}
    <div class="mx-auto" style="width: 1000px;">
        Вы не авторизованы. Пожалуйста, авторизуйтесь, чтобы увидеть доступные хосты или создать новый хост.
    </div>
    
    {% endif %}
  </div>
{% endblock %}